{% extends 'partoftemp/_dashboard.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="container content-center mt-4">
    <div class="mb-3">
      <label class="form-label">Vorname</label>
      {{form.first_name}}
    </div>
    <div class="mb-3">
      <label  class="form-label">Nachname</label>
      {{form.last_name}}
    </div>
    <div class="mb-3">
        <label  class="form-label">Benutzername</label>
        {{form.username}}
    </div>
    <div class="mb-3">
        <label  class="form-label">Email</label>
        {{form.email}}
    </div>
    <div class="mb-3">
        <label  class="form-label">Passwort</label>
        {{form.password1}}
    </div>
    <div class="mb-3">
        <label  class="form-label">Passwort wiederholen</label>
        {{form.password2}}
    </div>

    <input type="submit" value="Registrieren" class="btn btn-primary">
    </div>
  </form>
{% endblock %}